In [1]:
import pandas as pd

In [2]:
news_data=pd.read_csv('news_data.csv')

In [4]:
news_data=news_data.sample(frac=0.5)

In [8]:
news_data=news_data.reset_index(drop=True)

In [11]:
news_data.to_csv('sample_data_v0.csv',index=False)

In [13]:
marked_data_v1=pd.read_csv('sample_data_v1.csv')

In [21]:
marked_data_v1.columns[~marked_data_v1.columns.isin(marked_data_v1.filter(like='Unnamed').columns)]

Index(['_id', 'theme', 'source', 'title', 'description', 'published_on', 'C1',
       'C2'],
      dtype='object')

In [76]:
marked_data_v2=marked_data_v1[marked_data_v1.columns[~marked_data_v1.columns.isin(marked_data_v1.filter(like='Unnamed').columns)]]
marked_data_v3=marked_data_v2[~marked_data_v2['_id'].isna()]

In [77]:
import numpy as np
marked_data_v4=marked_data_v3[['_id','C1','C2']].replace('None',np.nan)

In [78]:
marked_data_v4.head(2)

     _id         C1   C2
0   42.0        NaN  NaN
1  110.0  Sensetime  NaN

In [79]:
def remove_nan(mylist):
    return [str(x) for x in mylist if x==x]

# remove_nan(['Sensetime', np.nan])

In [80]:
    
marked_data_v4.loc[:,'companies']=marked_data_v4[['C1','C2']].apply(lambda x: x.values.tolist(),axis=1)
marked_data_v4['companies']=marked_data_v4.apply(lambda x: remove_nan(x['companies']),axis=1)

In [82]:
marked_data_v4.drop(['C1','C2'],axis=1,inplace=True)

In [83]:
marked_data_vn=marked_data_v4

In [85]:
marked_data_vn.to_csv('marked_data_vn.csv',index=False)

In [86]:
marked_data_vn

      _id                                     companies
0    42.0                                            []
1   110.0                                   [Sensetime]
2    38.0                                  [Telefónica]
3    17.0                                      [Nvidia]
4   111.0                                            []
5    11.0                                            []
6    84.0                                            []
7    23.0                                            []
8    94.0                                            []
9     4.0                 [United Community Banks Ltd.]
10   65.0                                            []
11   18.0                              [Alta Equipment]
12   14.0                        [Microsft.com, Tiktok]
13   95.0                                            []
14   31.0                        [Microsft.com, Tiktok]
15   16.0                        [Microsft.com, Tiktok]
16   87.0                                            []
17   25.0                          [Amplitude Surgical]
18   44.0                                            []
19   27.0                        [Microsft.com, Tiktok]
20   86.0                                            []
21   91.0                              [Domino's Pizza]
22   78.0                                        [Amul]
23   50.0                                            []
24  112.0                                            []
25    3.0                                            []
26   10.0                                            []
27   48.0                                            []
28   32.0                        [Microsft.com, Tiktok]
29   39.0                   [MSTS, Corsair Capital LLC]
30   49.0                                [XCMG Company]
31    7.0                                    [XBiotech]
32  102.0                    [Marvell Technology Group]
33  103.0                                            []
34   74.0                                            []
35   76.0                                    [Dominion]
36   19.0                              [Alta Equipment]
37   41.0  [Franklin Templeton Investments, Legg Mason]
38   37.0                                      [Nvidia]
39    2.0                                        [Wine]
40   80.0                                            []
41  107.0                   [Checkmate Pharmaceuticals]
42   72.0                                      [Tiktok]
43   28.0                                            []
44   20.0                                            []
45   88.0                              [Domino's Pizza]
46   99.0                                            []
47   58.0                                         [NIH]
48   97.0                                            []
49   96.0                                            []
50   70.0                                            []
51   61.0          [Compulink Technologies, Freshworks]
52   52.0                                            []
53    1.0                  [Tesla Motors, Xpeng Motors]
54   56.0                  [Minerals Technologies Inc.]
55   62.0                                            []