In [139]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [140]:
marked_data_vn=pd.read_csv('marked_data_vn.csv')
marked_data_vn.head(2)

     _id      companies
0   42.0             []
1  110.0  ['Sensetime']

In [142]:
run_op_v1=pd.read_csv('run_op_v1.csv')
run_op_v1.head(2)

   _id              identified_companies
0    1  ['Tesla Motors', 'Xpeng Motors']
1    2                                []

In [146]:
score_raw_v1=marked_data_vn.merge(run_op_v1,how='left')
from ast import literal_eval
score_raw_v1['identified_companies']=score_raw_v1['identified_companies'].apply(literal_eval)
score_raw_v1['companies']=score_raw_v1['companies'].apply(literal_eval)
score_raw_v1.loc[:,'companies']=score_raw_v1['companies'].apply(lambda x: sorted(x))
score_raw_v1.loc[:,'identified_companies']=score_raw_v1.apply(lambda x: sorted(x['identified_companies']),axis=1)
score_raw_v1[['_id','companies','identified_companies']].head(5)

     _id     companies                               identified_companies
0   42.0            []                                                 []
1  110.0   [Sensetime]                                                 []
2   38.0  [Telefónica]                                       [Telefónica]
3   17.0      [Nvidia]                                           [Nvidia]
4  111.0            []  [Corsair Capital LLC, Minerals Technologies Inc.]

In [147]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb.fit(master_company_raw_v1['name'].values.reshape(-1,1))
mlb.classes_

master_company_raw_v1=pd.read_csv('master_company_sheet.csv')
def get_score(score_raw_v1):
    score=f1_score(mlb.transform(score_raw_v1['companies'].values),
             mlb.transform(score_raw_v1['identified_companies'].values),
             average='macro',zero_division=0)
    return score
get_score(score_raw_v1)

MultiLabelBinarizer()

array(['AlloVir', 'Alta Equipment', 'Amazon', 'Amplitude Surgical',
       'Amul', 'Bermekimab', 'Bridge stone', 'Catalant',
       'Checkmate Pharmaceuticals', 'Compulink Technologies',
       'Corsair Capital LLC', 'Dominion', "Domino's Pizza",
       'Editas Medicine', 'Eventbrite', 'Facebook', 'Feenics',
       'Fidelity Investments', 'Franklin Templeton Investments',
       'Freshworks', 'Gencor', 'Golden West Food', 'Kodak',
       'L3Harris L3Harris Technologies', 'Legg Mason', 'MSTS',
       'Marvell Technology Group', 'Microsft.com',
       'Minerals Technologies Inc.',
       'Morgan Stanley Investment banking company', 'NIH', 'Nokia ',
       'Nordea', 'Nvidia', 'P.c.b Technologies', 'Sensetime',
       'TTM Technologies', 'Telefónica', 'Tesla Motors', 'Tiktok',
       'United Community Banks Ltd.', 'Wine', 'XBiotech', 'XCMG Company',
       'Xpeng Motors', 'Zilliqa Research Pte. Ltd.'], dtype=object)

0.39936006022962545